/*日本語フォント*/
@font-face {
  font-family: 'IPAexGothic';
  src: url('..../fonts/IPAexGothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*英語フォント*/
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('..../fonts/HelveticaNowText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('HelveticaNowText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('HelveticaNowText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



body {
  font-family: "Helvetica Now Text" , sans-serif;
}


.slick-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease
}

.slick-lightbox.slick-hide {
  opacity: 0
}

.slick-lightbox.slick-hide-init {
  position: absolute;
  top: -9999px;
  opacity: 0
}

.slick-lightbox.slick-lightbox-ie.slick-hide,
.slick-lightbox.slick-lightbox-ie.slick-hide-init {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0)
}

.slick-lightbox .slick-lightbox-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item {
  text-align: center;
  overflow: hidden
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-img {
  margin: 0 auto;
  display: block;
  max-width: 90%;
  max-height: 90%
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-caption {
  margin-top: 10px;
  color: #fff
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  display: block;
  text-align: center
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:focus {
  outline: none
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: .85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '×'
}

.slick-lightbox .slick-loading .slick-list {
  background-color: transparent
}

.slick-lightbox .slick-prev {
  left: 15px
}

.slick-lightbox .slick-next {
  right: 15px
}

.layout-container {
  margin: 10px
}

.path-frontpage .project {
  margin: 50px 50px 300px 50px
}

.path-frontpage .project article {
  cursor: pointer;
  position: relative;
  line-height: 1.65rem
}

/*ホバーしたときのみタイトル表示*/
/*.path-frontpage .project article:hover .field--name-field-project-images {
  display: block
}*/

/*projectの画像を、指定しなくても指定数値にする*/

.field.field--name-field-images.field--type-image.field--label-hidden.field__items .field__item img
{
  height: 800;
  width: auto; /* 高さを固定 */
  display: block; /* レイアウトの余計な隙間を防ぐ */
  margin: 0 auto; /* 中央揃え（必要に応じて） */
}

/*projectの画像を、指定しなくても指定数値にする*/
@media (max-width: 768px) {
.field.field--name-field-images.field--type-image.field--label-hidden.field__items .field__item img
{
  height: 600;
  width: auto; /* 高さを固定 */
  display: block; /* レイアウトの余計な隙間を防ぐ */
  margin: 0 auto; /* 中央揃え（必要に応じて） */
}
}

/*indexの画像を、指定しなくても指定数値にする*/
.field.field--name-field-project-images.field--type-image.field--label-hidden.field__items .field__item img
{
  width: auto;
  height: 360px; /* 高さを固定 */
  display: block; /* レイアウトの余計な隙間を防ぐ */
  margin: 0 auto; /* 中央揃え（必要に応じて） */
}

/*indexの画像を、指定しなくても指定数値にする*/
@media (max-width: 768px) {
.field.field--name-field-project-images.field--type-image.field--label-hidden.field__items .field__item img
{
  width: auto;
  height: 200px; /* 高さを固定 */
  display: block; /* レイアウトの余計な隙間を防ぐ */
  margin: 0 auto; /* 中央揃え（必要に応じて） */
}
}

.path-frontpage h2 {
  margin: 0
}

.path-frontpage h2 a {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2rem;
  z-index: 1
}

@media (max-width: 768px) {
.path-frontpage h2 a {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2rem;
  z-index: 1
}
}

.path-frontpage h2 a:hover {
  text-decoration: none
}

.path-frontpage h2 a:after {
  content: ','
}

.path-frontpage .field--name-field-year {
  font-size: 1.5rem
}

@media (max-width: 768px) {
  .path-frontpage .field--name-field-year {
    font-size: 1.2rem
  }
}

.path-frontpage .field--name-field-year:after {
  content: ','
}

.path-frontpage .field--name-field-subtitle {
  font-style: normal;
  font-size: 1.5rem;
  z-index: 3;
  display: block;
  font-weight: normal
}

@media (max-width: 768px) {
  .path-frontpage .field--name-field-subtitle {
    font-style: normal;
    font-size: 1.2rem;
    z-index: 3;
    display: block;
    font-weight: normal
  }
}

.path-frontpage .field--name-field-project-images {
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  z-index: -1
}

.page-node-type-project {
  padding-bottom: 30px
}

.page-node-type-project main {
  margin: 10px
}

.page-node-type-project nav {
  display: none
}

.page-node-type-project .layout-container {
  max-width: 1350px;
  margin: 0 auto
}

.page-node-type-project .page-title {
  text-align: center;
  font-weight: normal;
  padding-top: 10px
}

.page-node-type-project .prdcrdts {
  max-width: 800px;
  margin: 0 auto;
  text-align: center
}

.page-node-type-project .field--name-field-year,
.page-node-type-project .field--name-field-materials {
  font-size: 1.0rem
}

.page-node-type-project .field--name-field-year {
  display: inline;
  margin-bottom: 30px;
  margin-top: 10px
}

.page-node-type-project .field--name-body,
.page-node-type-project .field--name-field-extra-info {
  font-size: 1.0rem;
  line-height: 2rem;
  max-width: 800px;
  margin: 0 auto;
  font-weight: normal
}

.page-node-type-project .field--name-body p,
.page-node-type-project .field--name-field-extra-info p {
  margin: 0 0 10px 0
}

.page-node-type-project .field--name-body p strong,
.page-node-type-project .field--name-field-extra-info p strong {
  font-weight: normal
}

.page-node-type-project .field--name-field-extra-info {
  margin-top: 100px
}

.page-node-type-project .field--name-field-materials {
  display: inline;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: right
}

.page-node-type-project .field--name-field-materials:before {
  content: '';
  background-color: #000;
  height: 3px;
  width: 40px;
  display: inline-block;
  margin: 0 10px 5px
}

.page-node-type-project .field--name-body p:after {
  display: block;
  content: '';
  margin-bottom: 10px;
  content: ''
}

.page-node-type-project .field--name-body p:last-child:after {
  content: '';
  display: inline;
  margin-bottom: 0
}

.page-node-type-project .field--name-field-project-images,
.page-node-type-project .field--name-field-extra-images,
.page-node-type-project .field--name-field-img-vs-text {
  clear: both;
  display: block;
  margin: 50px 0
}

.page-node-type-project .field--name-field-project-images img,
.page-node-type-project .field--name-field-extra-images img,
.page-node-type-project .field--name-field-img-vs-text img {
  max-height: 800px;
  width: auto;
  cursor: pointer
}

.page-node-type-project .field--name-field-project-images .slick-slide img,
.page-node-type-project .field--name-field-extra-images .slick-slide img,
.page-node-type-project .field--name-field-img-vs-text .slick-slide img {
  text-align: center;
  margin: 0 auto
}

.page-node-type-project .field--name-field-project-images,
.page-node-type-project .field--name-field-extra-images {
  margin: 0 auto
}

.page-node-type-project .field--name-field-project-images .field__item,
.page-node-type-project .field--name-field-extra-images .field__item {
  margin: 0 auto;
  text-align: center
}

.page-node-type-project .field--name-field-project-images img,
.page-node-type-project .field--name-field-extra-images img {
  margin: 20px auto;
  max-width: 800px
}

.page-node-type-project .field--name-field-grid-images .field__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px
}

.page-node-type-project .videobtn {
  border: 2px solid black;
  margin: 60px auto 60px auto;
  text-align: center;
  padding: 10px 50px;
  cursor: pointer;
  max-width: 200px
}

.page-node-type-project .videobtn:hover {
  background-color: black;
  color: white
}

.page-node-type-project .field--name-field-video {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.page-node-type-project .field--name-field-video .field__item {
  max-width: 80%;
  margin: 0 auto
}

.page-node-type-project .field--name-field-download {
  margin: 0 auto;
  text-align: center
}

.page-node-type-project .file--application-pdf {
  background: none;
  padding: 0
}

.page-node-type-project .field--name-field-audio iframe {
  height: 0
}

.page-node-type-project .paragraph {
  margin: 50px 0
}

.page-node-type-project .paragraph .field--name-field-title {
  text-align: right
}

.page-node-type-project .slick-arrow {
  position: absolute;
  top: calc(50% - 12px);
  z-index: 666;
  border: 0;
  background-color: transparent;
  text-transform: lowercase;
  border: 1px solid transparent
}

.page-node-type-project .slick-arrow:hover {
  border: 1px solid black
}

.page-node-type-project .slick-arrow:focus {
  outline: none
}

.page-node-type-project .slick-prev {
  left: 0
}

.page-node-type-project .slick-next {
  right: 0
}

.imgvstext .slick-arrow {
  display: none !important
}

.imgvstext .field--name-field-text {
  font-size: 1.0rem;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  font-weight: normal
}

.imgvstext .slick-slide {
  padding: 0 75px
}

.watchingpics .imgvstext {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0
}

.watchingpics .imgvstext .slick-arrow {
  display: inline-block !important
}

.watchingpics .imgvstext img {
  max-height: 800px
}

.watchingpics .field--name-field-img-vs-text {
  height: 100%;
  margin-top: 0 !important
}

.watchingpics .field--name-field-img-vs-text .slick-list,
.watchingpics .field--name-field-img-vs-text .slick-track {
  height: 100%
}

.watchingpics .field--name-field-img-vs-text .slick-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden
}

.watchingvids .field--name-field-video {
  display: block !important
}

.slick-slide:focus {
  outline: none
}

.close {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 6677
}

.close:hover .slicewrapper {
  animation: rotate 1.2s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.close:hover .gohome {
  display: block
}

.close .gohome {
  display: none;
  text-decoration: none;
  position: fixed;
  right: 20px;
  top: 50px
}

.watchingvids .close {
  margin-top: 2px;
  margin-right: 1px
}

.watchingvids .close .slicewrapper {
  transform: scale(1.15)
}

.path-frontpage .close {
  display: none
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close::before {
  color: black;
  font-size: 1.0rem;
  position: fixed;
  top: 10px;
  right: 25px
}

.slick-lightbox-slick-caption {
  color: #000 !important
}

.slice {
  background-color: black;
  height: 3px;
  width: 25px;
  margin: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.slice:nth-child(1) {
  transform: translateY(8px) rotate(225deg)
}

.slice:nth-child(2) {
  opacity: 0
}

.slice:nth-child(3) {
  transform: translateY(-8px) rotate(-225deg)
}

.watchingpics .slick-track {
  display: flex
}

.watchingpics .slick-track .slick-slide {
  align-self: center
}

#block-mainnavigation {
  position: fixed;
  bottom: 0;
  width: auto;
  right: 20px
}

#block-mainnavigation ul.menu {
  text-align: center
}

#block-mainnavigation li.menu-item {
  display: inline-block;
  margin: 0 5px
}

#block-mainnavigation li.menu-item a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.0rem
}

#block-mainnavigation li.menu-item a:hover,
#block-mainnavigation li.menu-item a.is-active {
  text-decoration: underline
}

.page-node-type-page h2,
.path-news h2,
.path-selected-texts h2,
.page-node-type-news h2,
.page-node-type-text h2 {
  font-weight: normal;
  margin-bottom: 1px
}

.page-node-type-page .page-title,
.path-news .page-title,
.path-selected-texts .page-title,
.page-node-type-news .page-title,
.page-node-type-text .page-title {
  display: none
}

.page-node-type-page article,
.path-news article,
.path-selected-texts article,
.page-node-type-news article,
.page-node-type-text article {
  max-width: 800px;
  font-size: 1.0rem
}

.page-node-type-page article p,
.path-news article p,
.path-selected-texts article p,
.page-node-type-news article p,
.page-node-type-text article p {
  padding: 0;
  margin: 2px 0
}

.page-node-type-page .view-news,
.path-news .view-news,
.path-selected-texts .view-news,
.page-node-type-news .view-news,
.page-node-type-text .view-news {
  margin-bottom: 60px
}

.page-node-type-news .page-title,
.page-node-type-text .page-title {
  display: block;
  font-weight: normal;
  margin-bottom: 1px
}

.page-node-type-news .field--name-field-image,
.page-node-type-text .field--name-field-image {
  display: block;
  margin-top: 5px
}

.page-node-type-text article p {
  margin-bottom: 30px
}

.mih {
  position: relative
}

.cte {
  display: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center
}

.fftb {
  font-size: 1.0rem;
  display: none;
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center
}

@media all and (max-width:600px) {

  .field--name-field-project-images img,
  .field--name-field-extra-images img {
    max-width: 90% !important
  }
}

a {
  color: #000;
  text-decoration: underline
}

img {
  max-width: 100%;
  height: auto
}

.wf-loading {
  visibility: hidden;
  opacity: 0
}

.wf-active {
  opacity: 1;
  transition: opacity 0.3s ease-in
}

.field--name-title,
.field--name-body,
.field--name-field-year,
.field--name-field-materials,
.field--name-field-extra-images {
  transition: opacity 0.3s ease-in
}

.animate-me p:nth-child(3n+3) {
  -webkit-animation-name: wwhtx;
  animation-name: wwhtx;
  -webkit-animation-duration: 207s;
  animation-duration: 207s;
  -webkit-animation-delay: 0.00s;
  animation-delay: 0.00s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.animate-me p:nth-child(4n+1) {
  -webkit-animation-name: wwhty !important;
  animation-name: wwhty !important;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 107s;
  animation-duration: 107s
}

.animate-me p,
.animate-me div {
  transition-property: all;
  -webkit-animation-name: wwhtz !important;
  animation-name: wwhtz !important;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animate-me p {
  font-size: 10rem;
  line-height: 12rem
}

.animate-me .field--name-field-year,
.animate-me img {
  -webkit-animation: none !important;
  animation: none !important
}

.page-node-type-project .animate-me .field--name-body,
.page-node-type-project .animate-me .field--name-field-extra-info {
  width: 100%;
  max-width: 100%;
  overflow: hidden
}

@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}

@keyframes wwhtx {
  0% {
    transform: rotateX(180)
  }

  5% {
    transform: rotateX(25deg)
  }

  50% {
    transform: rotateX(145deg)
  }

  75% {
    transform: rotateX(25deg)
  }

  100% {
    transform: rotateX(0)
  }
}

@keyframes wwhty {
  0% {
    transform: rotate3d(0.72, 0.73, 0.74, 360deg)
  }

  17% {
    transform: rotate3d(0.76, 0.66, 0.76, 320deg)
  }

  39% {
    transform: rotate3d(0.1, 0.9, 0.55, 99deg)
  }

  65% {
    transform: rotate3d(0.43, 0.88, 0.14, 61deg)
  }

  85% {
    transform: rotate3d(0.48, 0.88, 0.99, 134deg)
  }

  90% {
    transform: rotate3d(0.16, 0.23, 0.65, 150deg)
  }

  100% {
    transform: rotate3d(0.56, 0.16, 0.28, 350deg)
  }
}

@keyframes wwhtz {
  0% {
    transform: rotateY(180)
  }

  25% {
    transform: rotateY(25deg)
  }

  50% {
    transform: rotateY(145deg)
  }

  75% {
    transform: rotateY(25deg)
  }

  100% {
    transform: rotateY(0)
  }
}

html {
  -webkit-font-smoothing: antialiased
}